* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

a {
  transition: all 0.25s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

:root {
  --primary: #092327;
  --secondary: #c6c5b9;

  --red: #e11414;
  --redDk: #960d0d;

  --blue: #4062bb;
  --blueDk: #24386a;

  --green: #78a57b;
  --greenDk: #314933;

  --yellow: #faff70;
  --yellowDk: #9ea300;

  --white: #fdfdff;
  --black: var(--primary);
  --bg-lt: var(--white);
}

@mixin hover() {
  &:hover,
  &:focus {
    @content;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

h1 {
  text-align: center;
  margin: 10px 0;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: 42px;
  color: var(--primary);

  @media screen and (min-width: 800px) {
    font-size: 60px;
  }
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: var(--bg-lt);

  > main {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  > footer {
    background-color: var(--primary);
    color: var(--white);
    font-size: 12px;
    text-align: center;
    padding: 10px 20px;

    a {
      color: var(--white);
      @include hover {
        color: var(--accent-1);
      }
    }
  }
}

.game {
  width: 80vmin;
  height: 80vmin;
  background-color: var(--red);
  border-radius: 50%;
  border: 4px solid var(--primary);

  @media screen and (min-width: 800px) {
    border-width: 8px;
  }
}

.board {
  width: 100%;
  height: 100%;
  position: relative;

  &__buttons {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    position: relative;
    z-index: 0;

    > button {
      transition: all 0.125s;
      color: var(--white);
      font-size: 24px;
      cursor: pointer;

      &:nth-child(1) {
        background-color: var(--greenDk);
        border-top-left-radius: 100%;
        border-bottom: 2px solid var(--primary);
        border-right: 2px solid var(--primary);
        @include hover() {
          background-color: var(--green);
        }
      }

      &:nth-child(2) {
        background-color: var(--redDk);
        border-top-right-radius: 100%;
        border-bottom: 2px solid var(--primary);
        border-left: 2px solid var(--primary);
        @include hover() {
          background-color: var(--red);
        }
      }

      &:nth-child(3) {
        background-color: var(--yellowDk);
        border-bottom-left-radius: 100%;
        border-top: 2px solid var(--primary);
        border-right: 2px solid var(--primary);
        @include hover() {
          background-color: var(--yellow);
        }
      }

      &:nth-child(4) {
        background-color: var(--blueDk);
        border-bottom-right-radius: 100%;
        border-top: 2px solid var(--primary);
        border-left: 2px solid var(--primary);
        @include hover() {
          background-color: var(--blue);
        }
      }

      // @media screen and (min-width: 800px) {
      //   border-right-width: 4px;
      //   border-top-width: 4px;
      //   border-left-width: 4px;
      //   border-bottom-width: 4px;
      // }
    }
  }

  &__controls {
    width: 40%;
    height: 40%;
    position: absolute;
    top: 30%;
    left: 30%;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 4px solid var(--primary);
    background: var(--white);
    border-radius: 50%;
    padding: 20px;

    > div {
      flex-grow: 1;
      display: flex;
      justify-content: space-around;
      align-items: flex-end;
    }
  }

  &__controls-level {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    background: var(--secondary);
    border-radius: 4px;
    color: var(--black);
    padding: 20px 10px 10px 10px;
    box-shadow: 0px 0px 3px var(--primary);
    p {
      text-transform: uppercase;
      font-size: 18px;
    }

    > div {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    label {
      padding: 0 8px;
      margin-top: 10px;
      cursor: pointer;
      position: relative;

      &:before {
        width: 6px;
        height: 6px;
        position: absolute;
        top: -10px;
        left: calc(50% - 3px);
        border-radius: 3px;
        content: "";
        background: var(--greenDk);
        transition: all 0.25s;
      }
    }

    input[type="radio"] {
      &:checked {
        + label:before {
          background: var(--green);
        }
      }
    }
  }
}

$startSz: 48px;
.btn-start {
  padding-top: $startSz + 5;
  position: relative;
  background: transparent;
  text-transform: uppercase;
  font-size: 18px;
  cursor: pointer;

  &:before {
    position: absolute;
    top: 0;
    left: calc(50% - #{$startSz / 2});
    width: $startSz;
    height: $startSz;
    content: "";
    background: var(--redDk);
    border-radius: $startSz / 2;
    box-shadow: 0px 0px 3px var(--primary);
  }

  &:hover::before {
    background: var(--red);
  }
}
